.title-container {
    text-align: center;
    margin: 0px;
}

.button-container {
    text-align: center;
    margin: 0px;
}

#map {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    width: 100%;
    height: calc(100vh - 300px);
    transition: height 0.3s ease-out;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
}

.hidden-btn {
    margin: 5px;
    border: 2px solid black;
}

.map-container {
    display: flex;
    justify-content: center;
}