.title-container {
    text-align: center;
    margin: 0px;
}

.button-container {
    text-align: center;
    margin: 0px;
}

#map {
    width: 700px;
    height: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
}

.hidden-btn {
    margin: 5px;
    border: 2px solid black;
}

.map-container {
    display: flex;
    justify-content: center;
}