select {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.subtitle-box {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 24px;
    margin: 0px;
}

.inner-info {
    height: 100px;
    border: 1px solid #949090;
    margin: 5px;
    box-sizing: border-box;
}

.inner-title {
    position: relative;
    float: left;
    height: 30px;
    margin: 5px;
    box-sizing: border-box;
    font-size: 24px;
    font: bolder;
    overflow: hidden;
}

.inner-number {
    float: right;
    width: 250px;
    height: 15px;
    border: 0px solid #949090;
    margin-top: 10px;
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.inner-isOpen {
    position: relative;
    top: -3px;
    width: 80px;
    height: 17px;
    margin: 0px;
    padding-left: 8px;
    box-sizing: border-box;
    font-size: 16px;
    color: blue;
}

.inner-isClose {
    position: relative;
    top: -3px;
    width: 80px;
    height: 17px;
    margin: 0px;
    padding-left: 8px;
    box-sizing: border-box;
    font-size: 16px;
    color: red;
}

.inner-time {
    position: relative;
    left: 100px;
    width: 160px;
    height: 50px;
    margin-left: 10px;
    margin-top: 0px;
    padding-left: 2px;
    box-sizing: border-box;
    font-size: 12px;
    color: grey;
}

.inner-pay {
    position: relative;
    top: -30px;
    left: 426px;
    width: 160px;
    height: 50px;
    box-sizing: border-box;
    font-size: 12px;
    color: grey;
}